<div class="menu_container">
    <div class="menu_title">
        <p>Quản lý trung tâm </p>
    </div>
    <div class="menu_item">
        <div class="row item">
            @Html.ActionLink("Ghi danh", "_GhiDanh", "QLTTTA")
        </div>
        <div class="row item">
            @Html.ActionLink("Học viên", "_HocVien", "QLTTTA")
        </div>
        <div class="row item">
            @Html.ActionLink("Giảng viên", "_GiangVien", "QLTTTA")
        </div>
        <div class="row item">
            @Html.ActionLink("Lớp học", "_LopHoc", "QLTTTA")
        </div>
        <div class="row item">
            @Html.ActionLink("Khóa học", "_KhoaHoc", "QLTTTA")
        </div>
        <div class="row item">
            @Html.ActionLink("Báo cáo học viên", "_BaoCaoHocVien", "QLTTTA")
        </div>
    </div>
</div>